{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "KartrocketAPI",
    "description": "All the api's you need are listed here.",
    "license": {
      "name": "MIT",
      "url": "http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT"
    }
  },
  "host": "purujit.kartrocket.co",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/category": {
      "get": {
        "tags": [
          "Category and Categories"
        ],
        "description": "Get Category",
        "operationId": "Get_Category",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "category id"
          }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "schema": {
              "$ref": "#/definitions/getCategoryResponse"
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "Category and Categories"
        ],
        "description": "Get Category",
        "operationId": "Get_Categories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "level",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Up to which level you want the API to traverse in category tree"
          },
          {
            "name": "parent",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "parent category"
          }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "schema": {
              "$ref": "#/definitions/categoriesResponse"
            }
          }
        }
      }
    },
    "/product": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "get specified product",
        "operationId": "get_product",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "product id"
          },
          {
            "name": "sku",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Product SKU"
          }
        ],
        "responses": {
          "200": {
            "description": "Json formatted product details",
            "schema": {
              "$ref": "#/definitions/getProductResponse"
            }
          }
        }
      }
    },
    "/get_invoice": {
      "get": {
        "tags": [
          "Order"
        ],
        "description": "get pdf file of invoice",
        "operationId": "get_invoice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "order id"
          }
        ],
        "responses": {
          "200": {
            "description": "Pdf file"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Get all products in specific category",
        "operationId": "getSpecificProducts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "specific category id"
          }
        ],
        "responses": {
          "200": {
            "description": "Json formatted products in specified category",
            "schema": {
              "$ref": "#/definitions/getProductsResponse"
            }
          }
        }
      }
    },
    "/search_all_products": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Search products",
        "operationId": "searchProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter_name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "name of the filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "schema": {
              "$ref": "#/definitions/searchResponse"
            }
          }
        }
      }
    },
    "/addproduct": {
      "post": {
        "tags": [
          "Product"
        ],
        "description": "Add product",
        "operationId": "addProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "description": "product data",
            "schema": {
              "$ref": "#/definitions/addProductRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product added",
            "schema": {
              "$ref": "#/definitions/addProductResponse"
            }
          }
        }
      }
    },
    "/cart/addMultiple": {
      "post": {
        "tags": [
          "Cart"
        ],
        "description": "add multiple cart items",
        "operationId": "addToCart",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "payload",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/addToCartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "addToCartResponse",
            "schema": {
              "$ref": "#/definitions/addToCartResponse"
            }
          }
        }
      }
    },
    "/checkout/cart/apiViewCart": {
      "get": {
        "tags": [
          "Cart"
        ],
        "description": "View Cart",
        "operationId": "viewCart",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of items in cart",
            "schema": {
              "$ref": "#/definitions/viewCartResponse"
            }
          }
        }
      }
    },
    "/removeProAPI": {
      "post": {
        "tags": [
          "Cart"
        ],
        "description": "Remove product from cart",
        "operationId": "removeCartProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "remproapi",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/remProApiRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product removed",
            "schema": {
              "$ref": "#/definitions/remProApiResponse"
            }
          }
        }
      }
    },
    "/emptyCartAPI": {
      "get": {
        "tags": [
          "Cart"
        ],
        "description": "Empty cart request",
        "operationId": "emptyCart",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Empty Cart Response",
            "schema": {
              "$ref": "#/definitions/emptyCartResponse"
            }
          }
        }
      }
    },
    "/stock": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Update stoke",
        "operationId": "updateProductStoke",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "sku of product'"
          },
          {
            "name": "qty",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "quantity of product"
          },
          {
            "name": "price",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "price of product"
          }
        ],
        "responses": {
          "200": {
            "description": "Update stoke response",
            "schema": {
              "$ref": "#/definitions/updateStokeResponse"
            }
          }
        }
      }
    },
    "/optionstock": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Update Uption stock",
        "operationId": "updateStock",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "sku of product"
          },
          {
            "name": "option_sku",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "sku of product option"
          },
          {
            "name": "qty",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "product option quantity"
          },
          {
            "name": "price",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "product option price"
          },
          {
            "name": "weight",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "product option weight"
          }
        ],
        "responses": {
          "200": {
            "description": "json response of result",
            "schema": {
              "$ref": "#/definitions/updateStockResponse"
            }
          }
        }
      }
    },
    "/convert_currency": {
      "post": {
        "tags": [
          "Currency"
        ],
        "description": "Convert Currency",
        "operationId": "convertCurrency",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convertCurrencyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Convert Currency response",
            "schema": {
              "$ref": "#/definitions/convertCurrencyResponse"
            }
          }
        }
      }
    },
    "/list_currency": {
      "get": {
        "tags": [
          "Currency"
        ],
        "description": "List Currency",
        "operationId": "listCurrency",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response of list_currency",
            "schema": {
              "$ref": "#/definitions/listCurrencyResponse"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "description": "Login to store",
        "operationId": "login",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "route",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/loginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login Success",
            "schema": {
              "$ref": "#/definitions/loginResponse"
            }
          }
        }
      }
    },
    "/register": {
      "post": {
        "tags": [
          "Register"
        ],
        "description": "Register Request",
        "operationId": "register",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "register",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/registerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Register Success",
            "schema": {
              "$ref": "#/definitions/registerResponse"
            }
          }
        }
      }
    },
    "/best_sellers": {
      "get": {
        "tags": [
          "Best Seller"
        ],
        "description": "Best Seller Product",
        "operationId": "bestSellerProduct",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "best Seller Response",
            "schema": {
              "$ref": "#/definitions/bestSellerResponse"
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "description": "Get Orders",
        "operationId": "getOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Order id"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Order id"
          }
        ],
        "responses": {
          "200": {
            "description": "Response in json format",
            "schema": {
              "$ref": "#/definitions/getOrderResponse"
            }
          }
        }
      }
    },
    "/addorder": {
      "post": {
        "tags": [
          "Order"
        ],
        "description": "Add new order",
        "operationId": "addorder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/addOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order added Successfully",
            "schema": {
              "$ref": "#/definitions/addOrderResponse"
            }
          }
        }
      }
    },
    "/coupons": {
      "get": {
        "tags": [
          "Coupon"
        ],
        "description": "Get coupons",
        "operationId": "coupons",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "coupon code"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "from which date"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "page number"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "to which date in unix dateTime format"
          }
        ],
        "responses": {
          "200": {
            "description": "Json response of request",
            "schema": {
              "$ref": "#/definitions/couponResponse"
            }
          }
        }
      }
    },
    "/ordercount": {
      "get": {
        "tags": [
          "Order"
        ],
        "description": "COunt orders",
        "operationId": "orderCount",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Json response",
            "schema": {
              "$ref": "#/definitions/orderCountResponse"
            }
          }
        }
      }
    },
    "/productcount": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "Get count of products",
        "operationId": "productCount",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Json response of count",
            "schema": {
              "$ref": "#/definitions/productCountResponse"
            }
          }
        }
      }
    },
    "/addchannelproduct": {
      "post": {
        "tags": [
          "Channel Products"
        ],
        "description": "add channel product",
        "operationId": "addChannelProductRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "data of product in json format",
            "schema": {
              "$ref": "#/definitions/addChannelProductRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Json response",
            "schema": {
              "$ref": "#/definitions/addChannelProductResponse"
            }
          }
        }
      }
    },
    "/channelproducts": {
      "get": {
        "tags": [
          "Product"
        ],
        "description": "get channel product",
        "operationId": "channelproducts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "channel_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "channe id"
          },
          {
            "name": "kartrocket_product_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "kartrocket product id"
          },
          {
            "name": "channel_product_sku",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "sku of product in channel"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "page number"
          }
        ],
        "responses": {
          "200": {
            "description": "json encoded response",
            "schema": {
              "$ref": "#/definitions/getChannelProductResponse"
            }
          }
        }
      }
    },
    "/updateorders": {
      "get": {
        "tags": [
          "Order"
        ],
        "description": "Update order",
        "operationId": "updateOrder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "order id"
          },
          {
            "name": "order_status_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "order status id"
          },
          {
            "name": "courier_company",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name of courier company"
          },
          {
            "name": "awb_number",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "AWB number of order"
          }
        ],
        "responses": {
          "200": {
            "description": "Order updated Successfully",
            "schema": {
              "$ref": "#/definitions/updateOrderResponse"
            }
          }
        }
      }
    },
    "/getInformationPages": {
      "get": {
        "tags": [
          "getInformationPages"
        ],
        "description": "",
        "operationId": "getInformationPages",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getInformationPagesResponse"
            }
          }
        }
      }
    },
    "/getMenu": {
      "get": {
        "tags": [
          "getMenu"
        ],
        "description": "",
        "operationId": "getMenu",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getMenuResponse"
            }
          }
        }
      }
    },
    "/storeLocation": {
      "get": {
        "tags": [
          "storeLocation"
        ],
        "description": "",
        "operationId": "storeLocation",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/storeLocationResponse"
            }
          }
        }
      }
    },
    "/storePaymentmethods": {
      "get": {
        "tags": [
          "storePaymentmethods"
        ],
        "description": "",
        "operationId": "storePaymentmethods",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/storePaymentmethodsResponse"
            }
          }
        }
      }
    },
    "/storeFooter": {
      "get": {
        "tags": [
          "storeFooter"
        ],
        "description": "",
        "operationId": "storeFooter",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/storeFooterResponse"
            }
          }
        }
      }
    },
    "/getWishlist": {
      "get": {
        "tags": [
          "getWishlist"
        ],
        "description": "",
        "operationId": "getWishlist",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getWishlistResponse"
            }
          }
        }
      }
    },
    "/getBanner": {
      "get": {
        "tags": [
          "getBanner"
        ],
        "description": "",
        "operationId": "getBanner",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getBannerResponse"
            }
          }
        }
      }
    },
    "/getstaticblock": {
      "get": {
        "tags": [
          "getstaticblock"
        ],
        "description": "",
        "operationId": "getstaticblock",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getstaticblockResponse"
            }
          }
        }
      }
    },
    "/getcarousel": {
      "get": {
        "tags": [
          "getcarousel"
        ],
        "description": "",
        "operationId": "getcarousel",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "layout_id",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getcarouselResponse"
            }
          }
        }
      }
    },
    "/getlayouts": {
      "get": {
        "tags": [
          "getlayouts"
        ],
        "description": "",
        "operationId": "getlayouts",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getlayoutsResponse"
            }
          }
        }
      }
    },
    "/components": {
      "post": {
        "tags": [
          "components"
        ],
        "description": "",
        "operationId": "components",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "data of product in json format",
            "schema": {
              "$ref": "#/definitions/componentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/componentsResponse"
            }
          }
        }
      }
    },
    "/getcomponents": {
      "get": {
        "tags": [
          "getcomponents"
        ],
        "description": "",
        "operationId": "getcomponents",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getcomponentsResponse"
            }
          }
        }
      }
    },
    "/getstoreID": {
      "get": {
        "tags": [
          "getstoreID"
        ],
        "description": "",
        "operationId": "getstoreID",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getstoreIDResponse"
            }
          }
        }
      }
    },
    "/storecomponents": {
      "post": {
        "tags": [
          "storecomponents"
        ],
        "description": "",
        "operationId": "storecomponents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/storecomponentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/storecomponentsResponse"
            }
          }
        }
      }
    },
    "/storeheaderfooter": {
      "post": {
        "tags": [
          "storeheaderfooter"
        ],
        "description": "",
        "operationId": "storeheaderfooter",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/storeheaderfooterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/storeheaderfooterResponse"
            }
          }
        }
      }
    },
    "/getstorecomponents": {
      "get": {
        "tags": [
          "getstorecomponents"
        ],
        "description": "",
        "operationId": "getstorecomponents",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getstorecomponentsResponse"
            }
          }
        }
      }
    },
    "/getsortbyproducts": {
      "get": {
        "tags": [
          "getsortbyproducts"
        ],
        "description": "",
        "operationId": "getsortbyproducts",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getsortbyproductsResponse"
            }
          }
        }
      }
    },
    "/getproductsfilter": {
      "get": {
        "tags": [
          "getproductsfilter"
        ],
        "description": "",
        "operationId": "getproductsfilter",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getproductsfilterResponse"
            }
          }
        }
      }
    },
    "/activeapp": {
      "get": {
        "tags": [
          "activeapp"
        ],
        "description": "",
        "operationId": "activeapp",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/activeappResponse"
            }
          }
        }
      }
    },
    "/getHomePageSeo": {
      "get": {
        "tags": [
          "getHomePageSeo"
        ],
        "description": "",
        "operationId": "getHomePageSeo",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getHomePageSeoResponse"
            }
          }
        }
      }
    },
    "/getCopyrights": {
      "get": {
        "tags": [
          "getCopyrights"
        ],
        "description": "",
        "operationId": "getCopyrights",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getCopyrightsResponse"
            }
          }
        }
      }
    },
    "/updateBanner": {
      "post": {
        "description": "",
        "operationId": "updateBanner",
        "parameters": [
          {
            "description": "updateBanner",
            "in": "formData",
            "name": "banner",
            "required": true,
            "type": "file"
          }
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/updateBannerResponse"
            }
          }
        },
        "tags": [
          "updateBanner"
        ]
      }
    },
    "/updateBannerData": {
      "post": {
        "description": "",
        "consumes": [
          "application/json"
        ],
        "operationId": "updateBannerData",
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/updateBannerDataRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/updateBannerDataResponse"
            }
          }
        },
        "tags": [
          "updateBannerData"
        ]
      }
    },
    "/addCart": {
      "post": {
        "description": "",
        "operationId": "addCart",
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/addCartRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/addCartResponse"
            }
          }
        },
        "tags": [
          "addCart"
        ]
      }
    },
    "/addCompare": {
      "post": {
        "description": "",
        "operationId": "addCompare",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "product_id",
            "schema": {
              "$ref": "#definitions/addCompareRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/addCompareResponse"
            }
          }
        },
        "tags": [
          "addCompare"
        ]
      }
    },
    "/addWishlist": {
      "post": {
        "description": "",
        "operationId": "addWishlist",
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "id",
            "schema": {
              "$ref": "#definitions/addWishlistRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/addWishlistResponse"
            }
          }
        },
        "tags": [
          "addWishlist"
        ]
      }
    },
    "/categoryPagewidgets": {
      "get": {
        "description": "",
        "operationId": "categoryPagewidgets",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/categoryPagewidgetsResponse"
            }
          }
        },
        "tags": [
          "categoryPagewidgets"
        ]
      }
    },
    "/checkPincodestatus": {
      "get": {
        "description": "",
        "operationId": "checkPincodestatus",
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/definitions/checkPincodestatusRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/checkPincodestatusResponse"
            }
          }
        },
        "tags": [
          "checkPincodestatus"
        ]
      }
    },
    "/compareList": {
      "get": {
        "description": "",
        "operationId": "compareList",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/compareListResponse"
            }
          }
        },
        "tags": [
          "compareList"
        ]
      }
    },
    "/deleteBanner": {
      "post": {
        "description": "",
        "operationId": "deleteBanner",
        "tags": [
          "deleteBanner"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/deleteBannerRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Banner Deleted Successfully",
            "schema": {
              "$ref": "#/definitions/deleteBannerResponse"
            }
          }
        }
      }
    },
    "/discountedProducts": {
      "get": {
        "description": "",
        "operationId": "discountedProducts",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/discountProductsResponse"
            }
          }
        },
        "tags": [
          "discountedProducts"
        ]
      }
    },
    "/facebookFan": {
      "get": {
        "description": "",
        "operationId": "facebookFan",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/facebookFanResponse"
            }
          }
        },
        "tags": [
          "facebookFan"
        ]
      }
    },
    "/faviconImage": {
      "post": {
        "description": "",
        "operationId": "faviconImage",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "description": "",
            "in": "formData",
            "name": "config_icon",
            "required": true,
            "type": "file"
          }
        ],
        "produces": [
          "text"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/faviconImageResponse"
            }
          }
        },
        "tags": [
          "faviconImage"
        ]
      }
    },
    "/getBlogs": {
      "get": {
        "description": "",
        "operationId": "getBlogs",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getBlogsResponse"
            }
          }
        },
        "tags": [
          "getBlogs"
        ]
      }
    },
    "/getCart": {
      "get": {
        "description": "",
        "operationId": "getCart",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getCartResponse"
            }
          }
        },
        "tags": [
          "getCart"
        ]
      }
    },
    "/getCurrency": {
      "get": {
        "description": "",
        "operationId": "getCurrency",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getCurrencyResponse"
            }
          }
        },
        "tags": [
          "getCurrency"
        ]
      }
    },
    "/getInstagramfeed": {
      "get": {
        "description": "",
        "operationId": "getInstagramfeed",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getInstagramFeedResponse"
            }
          }
        },
        "tags": [
          "getInstagramfeed"
        ]
      }
    },
    "/getSociallogin": {
      "get": {
        "description": "",
        "operationId": "getSociallogin",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getSocialloginResponse"
            }
          }
        },
        "tags": [
          "getSociallogin"
        ]
      }
    },
    "/getTestimonials": {
      "get": {
        "description": "",
        "operationId": "getTestimonials",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/getTestimonialsResponse"
            }
          }
        },
        "tags": [
          "getTestimonials"
        ]
      }
    },
    "/imageDimensions": {
      "get": {
        "description": "",
        "operationId": "imageDimensions",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/imageDimensionsResponse"
            }
          }
        },
        "tags": [
          "imageDimensions"
        ]
      }
    },
    "/latestProducts": {
      "get": {
        "description": "",
        "operationId": "latestProducts",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/latestProductsResponse"
            }
          }
        },
        "tags": [
          "latestProducts"
        ]
      }
    },
    "/othersAlsoBought": {
      "get": {
        "description": "",
        "operationId": "othersAlsoBought",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/othersAlsoBoughtResponse"
            }
          }
        },
        "tags": [
          "othersAlsoBought"
        ]
      }
    },
    "/productFilter": {
      "get": {
        "description": "",
        "operationId": "productFilter",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/productFilterResponse"
            }
          }
        },
        "tags": [
          "productFilter"
        ]
      }
    },
    "/productPageListofApp": {
      "get": {
        "description": "",
        "operationId": "productPageListofApp",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/productPageListofAppResponse"
            }
          }
        },
        "tags": [
          "productPageListofApp"
        ]
      }
    },
    "/productRatingdicount": {
      "get": {
        "description": "",
        "operationId": "productRatingdicount",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/productRatingdiscountResponse"
            }
          }
        },
        "tags": [
          "productRatingdicount"
        ]
      }
    },
    "/scrollTotop": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "",
        "operationId": "scrollTotop",
        "parameters": [
          {
            "description": "",
            "in": "formData",
            "name": "config_bottomtotop_height",
            "type": "integer",
            "required": false
          },
          {
            "description": "",
            "in": "formData",
            "name": "config_bottomtotop_status",
            "type": "integer",
            "required": true
          },
          {
            "description": "",
            "in": "formData",
            "name": "config_bottomtotop_width",
            "type": "integer",
            "required": false
          },
          {
            "description": "",
            "in": "formData",
            "name": "config_bottomtotop_image",
            "type": "file",
            "required": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/scrollTotopResponse"
            }
          }
        },
        "tags": [
          "scrollTotop"
        ]
      }
    },
    "/setCurrency": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "",
        "operationId": "setCurrency",
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "currency_code",
            "schema": {
              "$ref": "#/definitions/setCurrencyRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/setCurrencyResponse"
            }
          }
        },
        "tags": [
          "setCurrency"
        ]
      }
    },
    "/showcase": {
      "get": {
        "description": "",
        "operationId": "showcase",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/showcaseResponse"
            }
          }
        },
        "tags": [
          "showcase"
        ]
      }
    },
    "/soldoutImage": {
      "post": {
        "description": "",
        "operationId": "soldoutImage",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "description": "",
            "in": "formData",
            "name": "config_soldout_image",
            "required": true,
            "type": "file"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/soldoutImageResponse"
            }
          }
        },
        "tags": [
          "soldoutImage"
        ]
      }
    },
    "/subscription": {
      "get": {
        "description": "",
        "operationId": "subscription",
        "parameters": [
          {
            "description": "",
            "in": "body",
            "name": "email",
            "schema": {
              "$ref": "#/definitions/subscriptionRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/subscriptionResponse"
            }
          }
        },
        "tags": [
          "subscription"
        ]
      }
    },
    "/twitterFeed": {
      "get": {
        "description": "",
        "operationId": "twitterFeed",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/twitterFeedResponse"
            }
          }
        },
        "tags": [
          "twitterFeed"
        ]
      }
    },
    "/uploadImage": {
      "post": {
        "description": "",
        "operationId": "uploadImage",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "description": "",
            "in": "formData",
            "name": "image",
            "required": true,
            "type": "file"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Request successfully sent",
            "schema": {
              "$ref": "#/definitions/uploadImageResponse"
            }
          }
        },
        "tags": [
          "uploadImage"
        ]
      }
    }
  },
  "definitions": {
    "getCategoryResponse": {
      "title": "Get Category",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "category": {
          "type": "object",
          "example": {
            "id": 1,
            "name": "Accessories",
            "description": "",
            "href": "http://saahil.kartrocket.co/index.php?route=product/category&category_id=1"
          }
        }
      },
      "required": [
        "success",
        "category"
      ]
    },
    "categoriesResponse": {
      "title": "Get Categories",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "category": {
          "type": "object",
          "example": {
            "id": 1,
            "name": "Accessories",
            "description": "",
            "href": "http://saahil.kartrocket.co/index.php?route=product/category&category_id=1"
          }
        }
      },
      "required": [
        "success",
        "category"
      ]
    },
    "getProductResponse": {
      "title": "Get Products",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "category": {
          "type": "object",
          "example": {
            "id": 1,
            "name": "Accessories",
            "description": "",
            "href": "http://saahil.kartrocket.co/index.php?route=product/category&category_id=1"
          }
        }
      },
      "required": [
        "success",
        "category"
      ]
    },
    "getProductsResponse": {
      "title": "Get Products",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "category": {
          "type": "object",
          "example": {
            "id": 1,
            "name": "Accessories",
            "description": "",
            "href": "http://saahil.kartrocket.co/index.php?route=product/category&category_id=1"
          }
        }
      },
      "required": [
        "success",
        "category"
      ]
    },
    "searchResponse": {
      "title": "Get Products",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "category": {
          "type": "object",
          "example": {
            "id": 1,
            "name": "Accessories",
            "description": "",
            "href": "http://saahil.kartrocket.co/index.php?route=product/category&category_id=1"
          }
        }
      },
      "required": [
        "success",
        "category"
      ]
    },
    "addProductRequest": {
      "title": "Get Products",
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Product Name",
              "example": "Jeans"
            },
            "description": {
              "type": "string",
              "description": "Product description",
              "example": "New Design Jeans"
            },
            "meta_title": {
              "type": "string",
              "description": "Product Meta Title"
            },
            "meta_description": {
              "type": "string",
              "description": "Product Meta Description"
            },
            "meta_keyword": {
              "type": "string",
              "description": "Product meta keyword"
            },
            "manufacturer": {
              "type": "string",
              "description": "manufacturer"
            },
            "sku": {
              "type": "string",
              "description": "Unique SKU of product",
              "example": "SKU1"
            },
            "model": {
              "type": "string",
              "description": "Product model",
              "example": "X1"
            },
            "price": {
              "type": "integer",
              "description": "Product Price in INR",
              "example": "1000"
            },
            "quantity": {
              "type": "integer",
              "description": "Product quantity",
              "example": "10"
            },
            "shipping": {
              "type": "string",
              "description": "provided or not (0/1)",
              "example": "1"
            },
            "subtract": {
              "type": "string",
              "description": "Subtract or not (0/1)",
              "example": "1"
            },
            "image": {
              "type": "string",
              "description": "image path",
              "example": "data/product_main_image.jpg"
            },
            "status": {
              "type": "string",
              "description": "available or not (0/1)",
              "example": "1"
            },
            "keyword": {
              "type": "string",
              "description": "Product Name",
              "example": ""
            },
            "upc": {
              "type": "string",
              "description": "UPC",
              "example": "893789939"
            },
            "asin": {
              "type": "string",
              "description": "ASIN",
              "example": "DFJ788H8D8H"
            },
            "isbn": {
              "type": "string",
              "description": "ISBN",
              "example": "33289793"
            },
            "ean": {
              "type": "string",
              "description": "EAN",
              "example": "8612368"
            },
            "weight": {
              "type": "string",
              "description": "Product weight",
              "example": "2"
            },
            "length": {
              "type": "string",
              "description": "Product Length",
              "example": "10"
            },
            "width": {
              "type": "string",
              "description": "Product width",
              "example": "20"
            },
            "height": {
              "type": "string",
              "description": "Product height",
              "example": "5"
            },
            "tax_class_id": {
              "type": "string",
              "description": "tax class id",
              "example": "9"
            },
            "download_images": {
              "type": "string",
              "description": "download images (0/1)",
              "example": "1"
            },
            "product_image": {
              "type": "array",
              "description": "Product image paths",
              "items": {
                "type": "string"
              },
              "example": [
                "data/product_image_1.jpg",
                "data/product_image_2.jpg",
                "data/product_image_3.jpg",
                "data/product_image_n.jpg"
              ]
            },
            "product_option": {
              "type": "object",
              "description": "Product Options",
              "example": {
                "Option One": [
                  {
                    "option_name": "Option 1 value 1",
                    "quantity": "10",
                    "option_sku": "OOV1",
                    "weight": "0.4",
                    "subtract": "1"
                  },
                  {
                    "option_name": "Option 1 value 2",
                    "quantity": "5",
                    "option_sku": "OOV2",
                    "weight": "1.2",
                    "subtract": "0"
                  }
                ],
                "Option Two": [
                  {
                    "option_name": "Option 2 value 1",
                    "quantity": "10",
                    "option_sku": "OTV1",
                    "weight": "0.4",
                    "subtract": "1"
                  },
                  {
                    "option_name": "Option 2 value 2",
                    "quantity": "5",
                    "option_sku": "OV2",
                    "weight": "1.2",
                    "subtract": "1"
                  }
                ]
              }
            },
            "product_attribute": {
              "type": "array",
              "description": "Product attributes",
              "items": {
                "type": "string"
              },
              "example": [
                {
                  "group": "Attribute Group 1",
                  "name": "Attribute 1",
                  "description": "Attribute Value 1"
                },
                {
                  "group": "Attribute Group 2",
                  "name": "Attribute 2",
                  "description": "Attribute Value 2"
                }
              ]
            },
            "product_category": {
              "type": "array",
              "description": "Product category",
              "items": {
                "type": "string"
              },
              "example": [
                "Category One>Category Two",
                "Category One>Category Three",
                "Category Four"
              ]
            }
          }
        }
      },
      "required": [
        "data"
      ]
    },
    "addProductResponse": {
      "title": "Add Product response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "product_added": {
          "type": "string",
          "example": "151"
        }
      },
      "required": [
        "success",
        "product_added"
      ]
    },
    "addToCartRequest": {
      "title": "Addnto cart",
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "properties": {
            "products": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                {
                  "product_id": 1,
                  "quantity": 1
                }
              ]
            }
          }
        }
      },
      "required": [
        "payload"
      ]
    },
    "addToCartResponse": {
      "title": "addToCartRequest",
      "type": "object",
      "properties": {
        "success": {
          "type": "string",
          "example": "Success: You have added Product 1</a> to your shopping cart</a>!"
        },
        "total": {
          "type": "string",
          "example": "1 item(s) - Rs.10"
        }
      },
      "required": [
        "success",
        "total"
      ]
    },
    "viewCartResponse": {
      "title": "View Cart details",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            {
              "product_id": 1,
              "key": 1,
              "thumb": "http://res.cloudinary.com/kartrocket/image/fetch/w_250,q_80,h_150,c_pad,b_white,f_auto,fl_progressive/http%3A%2F%2Fkartrocket-mtp.s3.amazonaws.com%2Fall-     stores%2Fimage_anchal%2Fdata%2Flogo%2F11474109494709-Aurelia-Yellow-Woven-Design-Kurta-3291474109494344-1.jpg",
              "name": "Product 1",
              "model": "P1",
              "sku": "GY893D832",
              "option": [],
              "quantity": "1",
              "stock": true,
              "price": "1000",
              "total": "1000"
            }
          ]
        },
        "totals": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            {
              "code": "sub_total",
              "title": "Sub-Total",
              "text": "Rs.10",
              "value": 10,
              "sort_order": "1"
            },
            {
              "code": "sub_total",
              "title": "Sub-Total",
              "text": "Rs.10",
              "value": 10,
              "sort_order": "1"
            }
          ]
        }
      },
      "required": [
        "success",
        "products",
        "totals"
      ]
    },
    "remProApiRequest": {
      "title": "rem Product Request",
      "type": "object",
      "properties": {
        "remproapi": {
          "type": "object",
          "properties": {
            "product": {
              "type": "string",
              "example": "1"
            }
          }
        }
      }
    },
    "remProApiResponse": {
      "title": "rem Product Response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": {
            "success": true
          }
        },
        "msg": {
          "type": "string",
          "example": "Removed Successfully"
        }
      }
    },
    "emptyCartResponse": {
      "title": "Empty Cart Response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": {
            "success": true
          }
        },
        "msg": {
          "type": "string",
          "example": "Cart Empty"
        }
      }
    },
    "updateStokeResponse": {
      "title": "Empty Cart Response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": {
            "success": true
          }
        },
        "msg": {
          "type": "string",
          "example": "Product with mentioned SKU updated"
        }
      }
    },
    "bestSellerResponse": {
      "title": "Best Seller Response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": {
            "success": true
          }
        },
        "bestseller": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            {
              "product_id": "8",
              "model": "P8",
              "SKU": "P8",
              "name": "Product 8",
              "thumb": "http://res.cloudinary.com/kartrocket/image/fetch/w_300,q_80,h_500,c_pad,b_white,f_auto,fl_progressive/http%3A%2F%2Fkartrocket- mtp.s3.amazonaws.com%2Fall-stores%2Fimage_anchal%2Fdata%2Fnew8.jpg",
              "zoom_thumb": "http://kartrocket-mtp.s3.amazonaws.com/all-stores/image_anchal/data/new8.jpg",
              "description": "This is a Test Product..",
              "price": "Rs.1,000",
              "special": "Rs.750",
              "tax": false,
              "quantity": "0",
              "status": "1"
            }
          ]
        }
      }
    },
    "loginRequest": {
      "title": "Login Request",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "example": "abcd@xyz.com"
        },
        "password": {
          "type": "string",
          "example": "doDOJk332"
        }
      }
    },
    "loginResponse": {
      "title": "Login Response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "customer": {
          "type": "object",
          "properties": {
            "customer_id": {
              "type": "string",
              "example": "60"
            },
            "firstname": {
              "type": "string",
              "example": "John"
            },
            "lastname": {
              "type": "string",
              "example": "Doe"
            },
            "email": {
              "type": "string",
              "example": "abcd@gmail.com"
            },
            "telephone": {
              "type": "string",
              "example": "1234567890"
            },
            "mobile": {
              "type": "string",
              "example": "0987654321"
            },
            "status": {
              "type": "string",
              "example": "1"
            },
            "date_added": {
              "type": "string",
              "example": "2016-11-16 07:12:14"
            },
            "date_last_action": {
              "type": "string",
              "example": "2016-11-16 07:12:14"
            }
          }
        }
      }
    },
    "registerRequest": {
      "title": "Register Request",
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "firstname": {
          "type": "string"
        }
      },
      "required": [
        "email",
        "password",
        "firstname"
      ]
    },
    "registerResponse": {
      "title": "Register response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "customer": {
          "type": "string",
          "example": "60"
        }
      }
    },
    "listCurrencyResponse": {
      "title": "List Currency response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "data": {
          "type": "object",
          "properties": {
            "GBP": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "GBP"
                },
                "title": {
                  "type": "string",
                  "example": "Pound Sterling"
                },
                "symbol_left": {
                  "type": "string",
                  "example": "£"
                },
                "symbol_right": {
                  "type": "string",
                  "example": "@"
                },
                "value": {
                  "type": "string",
                  "example": "0.01190000"
                }
              }
            },
            "USD": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "USD"
                },
                "title": {
                  "type": "string",
                  "example": "US Dollar"
                },
                "symbol_left": {
                  "type": "string",
                  "example": "$"
                },
                "symbol_right": {
                  "type": "string",
                  "example": "@"
                },
                "value": {
                  "type": "string",
                  "example": "0.01470000"
                }
              }
            },
            "INR": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "INR"
                },
                "title": {
                  "type": "string",
                  "example": "Indian Rupee"
                },
                "symbol_left": {
                  "type": "string",
                  "example": "Rs."
                },
                "symbol_right": {
                  "type": "string",
                  "example": ""
                },
                "value": {
                  "type": "string",
                  "example": "1.000000"
                }
              }
            }
          }
        }
      }
    },
    "convertCurrencyRequest": {
      "title": "Convert Currency request",
      "type": "object",
      "properties": {
        "price": {
          "type": "string",
          "example": "43"
        },
        "from": {
          "type": "string",
          "example": "USD"
        },
        "to": {
          "type": "string",
          "example": "USD"
        }
      }
    },
    "convertCurrencyResponse": {
      "title": "Convert Currency response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "price": {
          "type": "string",
          "example": "134.893781312"
        }
      }
    },
    "updateStockResponse": {
      "title": "Update product option stock",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "addOrderRequest": {
      "title": "add order request",
      "type": "object",
      "properties": {
        "import_order_id": {
          "type": "string"
        },
        "channel_id": {
          "type": "string"
        },
        "firstname": {
          "type": "string"
        },
        "lastname": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "company": {
          "type": "string"
        },
        "address_1": {
          "type": "string"
        },
        "address_2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "postcode": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "country_code": {
          "type": "string"
        },
        "telephone": {
          "type": "string"
        },
        "mobile": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "payment_method": {
          "type": "string"
        },
        "payment_code": {
          "type": "string"
        },
        "shipping_method": {
          "type": "string"
        },
        "shipping_code": {
          "type": "string"
        },
        "order_status_id": {
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            {
              "name": "Apple iPhone 4Sx",
              "model": "MB0010",
              "sku": "MB0010",
              "quantity": 1,
              "subtract": 1,
              "price": 145,
              "total": 145,
              "tax": 6.9047619047619,
              "reward": 0
            },
            {
              "name": "Apple iPhone 4C",
              "model": "MB0011",
              "sku": "MB0011",
              "quantity": 1,
              "subtract": 1,
              "price": 149,
              "total": 149,
              "tax": 6.9047619047619,
              "reward": 0
            }
          ]
        },
        "totals": {
          "type": "object",
          "properties": {
            "handling": {
              "type": "integer"
            },
            "low_order_fee": {
              "type": "integer"
            },
            "sub_total": {
              "type": "integer"
            },
            "tax": {
              "type": "integer"
            },
            "total": {
              "type": "integer"
            }
          }
        },
        "weight": {
          "type": "integer"
        },
        "weight_unit": {
          "type": "integer"
        },
        "comment": {
          "type": "integer"
        },
        "total": {
          "type": "integer"
        }
      }
    },
    "addOrderResponse": {
      "title": "Order added Successfully",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "order_added": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string"
            },
            "order_id": {
              "type": "integer"
            }
          }
        }
      }
    },
    "getOrderResponse": {
      "title": "Order fetched succesfully",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "orders": {
          "type": "array",
          "items": {
            "type": "string",
            "properties": {
              "order_id": {
                "type": "string"
              },
              "invoice_number": {
                "type": "string"
              },
              "store_name": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "telephone": {
                "type": "string"
              },
              "mobile": {
                "type": "string"
              },
              "shipping_firstname": {
                "type": "string"
              },
              "shipping_lastname": {
                "type": "string"
              },
              "shipping_company": {
                "type": "string"
              },
              "shipping_address_1": {
                "type": "string"
              },
              "shipping_address_2": {
                "type": "string"
              },
              "shipping_city": {
                "type": "string"
              },
              "shipping_state": {
                "type": "string"
              },
              "shipping_postcode": {
                "type": "string"
              },
              "shipping_country": {
                "type": "string"
              },
              "shipping_method": {
                "type": "string"
              },
              "order_total": {
                "type": "string"
              },
              "entered_weight": {
                "type": "string"
              },
              "routing_code": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "date_added": {
                "type": "string"
              },
              "date_modified": {
                "type": "string"
              },
              "import_order_id": {
                "type": "string"
              },
              "order_status": {
                "type": "string"
              },
              "order_status_id": {
                "type": "string"
              },
              "payment_method": {
                "type": "string"
              },
              "product_name": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "sku": {
                "type": "string"
              },
              "quantity": {
                "type": "string"
              },
              "product_price": {
                "type": "string"
              },
              "product_tax": {
                "type": "string"
              },
              "tax_class": {
                "type": "string"
              },
              "option": {
                "type": "string"
              },
              "option_value": {
                "type": "string"
              },
              "courier": {
                "type": "string"
              },
              "awb_number": {
                "type": "string"
              },
              "coupon_total": {
                "type": "string"
              },
              "ebs_emi": {
                "type": "string"
              },
              "ebs_emi_fee": {
                "type": "string"
              },
              "payment_fee": {
                "type": "string"
              },
              "store_credit": {
                "type": "string"
              },
              "handling": {
                "type": "string"
              },
              "low_order_fee": {
                "type": "string"
              },
              "shipping": {
                "type": "string"
              },
              "sub_total": {
                "type": "string"
              },
              "tax": {
                "type": "string"
              },
              "total": {
                "type": "string"
              },
              "transaction": {
                "type": "string"
              },
              "voucher": {
                "type": "string"
              },
              "option_sku": {
                "type": "string"
              }
            }
          }
        },
        "status": {
          "type": "string"
        }
      }
    },
    "couponResponse": {
      "title": "List of coupons available",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "coupon_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "discount": {
            "type": "string"
          },
          "date_start": {
            "type": "string"
          },
          "date_end": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      }
    },
    "orderCountResponse": {
      "title": "Order fetched succesfully",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "result": {
          "type": "object",
          "properties": {
            "count": {
              "type": "string"
            },
            "success_count": {
              "type": "string"
            },
            "success_sale": {
              "type": "string"
            }
          }
        }
      }
    },
    "productCountResponse": {
      "title": "Order fetched succesfully",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "count": {
          "type": "string"
        }
      }
    },
    "addChannelProductRequest": {
      "title": "Order fetched succesfully",
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "channel_id": {
              "type": "string"
            },
            "kartrocket_product_id": {
              "type": "string"
            },
            "kartrocket_product_sku": {
              "type": "string"
            },
            "channel_product_sku": {
              "type": "string"
            }
          }
        }
      }
    },
    "addChannelProductResponse": {
      "title": "Order fetched succesfully",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "channel_product_id": {
          "type": "string"
        }
      }
    },
    "getChannelProductResponse": {
      "title": "Order fetched succesfully",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "channel_product_id": {
            "type": "string"
          },
          "channel_id": {
            "type": "string"
          },
          "channel_name": {
            "type": "string"
          },
          "kartrocket_product_id": {
            "type": "string"
          },
          "kartrocket_product_sku": {
            "type": "string"
          },
          "channel_product_sku": {
            "type": "string"
          },
          "channel_price": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "quantity": {
            "type": "string"
          },
          "price": {
            "type": "string"
          },
          "option_quanity": {
            "type": "string"
          },
          "option_price": {
            "type": "string"
          },
          "option_sku": {
            "type": "string"
          },
          "date_added": {
            "type": "string"
          },
          "date_modified": {
            "type": "string"
          }
        }
      }
    },
    "updateOrderResponse": {
      "title": "Json response of update Orders",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "order_update": {
          "type": "boolean"
        }
      }
    },
    "getInformationPagesResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "Status of request sent",
          "example": true
        },
        "Informations": {
          "type": "string",
          "example": [
            {
              "id": 4,
              "description": "All information, products and services displayed on the {store_url} website constitute an &quot;invitation to offer&quot;. Your order for purchase constitutes your &quot;offer&quot; which shall be subject to the terms and conditions as listed below. {store_url} website has the right to accept or reject your offer without assigning any reason thereof.",
              "title": "Terms & Conditions",
              "href": "http://webbuilder.kartrocket.co/terms-and-conditions"
            },
            {
              "id": 6,
              "description": "<b>Domestic Shipping:</b><br />\r\n\t<br />\r\n\t<span><u>WE OFFER FREE SHIPPING ANYWHERE IN INDIA</u></span></span> <span>Please allow 1-3 working days for your order to be dispatched.",
              "title": "Shipping and Returns",
              "href": "http://webbuilder.kartrocket.co/shipping-and-returns"
            },
            {
              "id": 8,
              "description": "<span><b>We protect your\r\nprivacy.</b><span><br>\r\nOur privacy policy\r\nis simple: any information you give us stays with us. We do not rent, sell,\r\nlend, or otherwise distribute your personal information to anyone for any\r\nreason. This includes your contact information, as well as specific order\r\ninformation.",
              "title": "Privacy Policy",
              "href": "http://webbuilder.kartrocket.co/privacy-policy"
            },
            {
              "id": 10,
              "description": "Enter your affiliate terms here",
              "title": "Affiliate Terms",
              "href": "http://webbuilder.kartrocket.co/affiliate-terms"
            }
          ]
        },
        "count": {
          "type": "integer",
          "description": "Count of returned pages",
          "example": 4
        }
      }
    },
    "getMenuResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "json encoded array data",
          "example": [
            {
              "id": 12,
              "name": "Category 1",
              "children": [
                {
                  "id": 2,
                  "name": "SubCategory 1",
                  "href": "http://webbuilder.kartrocket.co/category-1/sub-category-a"
                },
                {
                  "id": 4,
                  "name": "SubCategory 2",
                  "href": "http://webbuilder.kartrocket.co/category-1/sub-category-b"
                }
              ],
              "column": 1,
              "href": "http://webbuilder.kartrocket.co/category-1"
            }
          ]
        },
        "setting": {
          "type": "object",
          "description": "setting values",
          "properties": {
            "id": {
              "type": "integer"
            },
            "orientation": {
              "type": "string"
            },
            "layout": {
              "type": "string"
            },
            "status": {
              "type": "integer"
            },
            "created": {
              "type": "string"
            },
            "modified": {
              "type": "string"
            }
          }
        }
      }
    },
    "storeLocationResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "storelocation": {
          "type": "object",
          "example": {
            "store_name": "Webbuilder",
            "store_owner": "Shashank",
            "store_address_2": "",
            "store_address_1": "",
            "store_city": "",
            "store_postcode": "",
            "store_telephone": "8800091852"
          }
        }
      }
    },
    "storePaymentmethodsResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "paymentmethods": {
          "type": "object",
          "example": {
            "free_checkout": {
              "code": "free_checkout",
              "title": "Free checkout",
              "sort_order": "1"
            }
          }
        }
      }
    },
    "storeFooterResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "data": {
          "type": "object",
          "properties": {
            "Information": {
              "type": "string",
              "example": [
                {
                  "title": "Terms and Conditions",
                  "href": "http://webbuilder.kartrocket.co/terms-and-conditions"
                },
                {
                  "title": "Shipping and Returns",
                  "href": "http://webbuilder.kartrocket.co/shipping-and-returns"
                },
                {
                  "title": "Privacy Policy",
                  "href": "http://webbuilder.kartrocket.co/privacy-policy"
                }
              ]
            },
            "customer service": {
              "type": "string",
              "example": [
                {
                  "title": "Contact Us",
                  "href": "http://webbuilder.kartrocket.co/contact-us"
                },
                {
                  "title": "Returns",
                  "href": "http://webbuilder.kartrocket.co/return"
                },
                {
                  "title": "Site Map",
                  "href": "http://webbuilder.kartrocket.co/sitemap"
                },
                {
                  "title": "Gift Vouchers",
                  "href": "http://webbuilder.kartrocket.co/voucher"
                }
              ]
            },
            "Extras": {
              "type": "string",
              "example": [
                {
                  "title": "Tell a Friend",
                  "href": "http://webbuilder.kartrocket.co/tell-a-friend"
                },
                {
                  "title": "Brands",
                  "href": "http://webbuilder.kartrocket.co/manufacturer"
                },
                {
                  "title": "Affiliates",
                  "href": "http://webbuilder.kartrocket.co/affiliate-account"
                },
                {
                  "title": "Specials",
                  "href": "http://webbuilder.kartrocket.co/specials"
                }
              ]
            },
            "my account": {
              "type": "string",
              "example": [
                {
                  "title": "My Account",
                  "href": "http://webbuilder.kartrocket.co/my-account"
                },
                {
                  "title": "Order History",
                  "href": "http://webbuilder.kartrocket.co/my-orders"
                },
                {
                  "title": "Wish List",
                  "href": "http://webbuilder.kartrocket.co/wishlist"
                },
                {
                  "title": "Newsletter",
                  "href": "http://webbuilder.kartrocket.co/newsletter"
                },
                {
                  "title": "Track Order",
                  "href": "http://webbuilder.kartrocket.co/index.php?route=account/track"
                }
              ]
            }
          }
        },
        "copyrights": {
          "type": "string",
          "example": "KARTROCKET.COM"
        }
      }
    },
    "getWishlistResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "message": {
          "type": "string",
          "example": "data not found"
        },
        "wishlist": {
          "type": "string",
          "example": []
        },
        "count": {
          "type": "integer",
          "example": 0
        }
      }
    },
    "getBannerResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "banners": {
          "type": "object",
          "properties": {
            "data": {
              "type": "string",
              "example": [
                {
                  "id": "7",
                  "title": "banner1",
                  "link": "category-1/sub-category-a",
                  "image": "data/banners/main-banner-970x376-1.jpg",
                  "thumb": "http://res.cloudinary.com/kartrocket/image/fetch//http://kartrocket-mtp.s3.amazonaws.com/all-stores/image_webbuilder/data/banners/main-banner-970x376-1.jpg"
                },
                {
                  "id": "8",
                  "title": "banner2",
                  "link": "category-2/sub-category-a-5",
                  "image": "data/banners/main-banner-970x376.jpg",
                  "thumb": "http://res.cloudinary.com/kartrocket/image/fetch//http://kartrocket-mtp.s3.amazonaws.com/all-stores/image_webbuilder/data/banners/main-banner-970x376.jpg"
                }
              ]
            },
            "setting": {
              "type": "object",
              "properties": {
                "banner_slide_autoplay": {
                  "type": "string",
                  "example": "1"
                },
                "banner_slide_transition": {
                  "type": "string",
                  "example": "slideleft"
                },
                "banner_transition_time": {
                  "type": "integer",
                  "example": 3000
                },
                "navigator_type": {
                  "type": "string",
                  "example": "verticalcentered"
                }
              }
            }
          }
        }
      }
    },
    "getstaticblockResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "data": {
          "type": "object",
          "properties": {
            "staticblocks": {
              "type": "string",
              "example": {
                "1": {
                  "module_title": {
                    "1": "Image banner (position Promotion)"
                  },
                  "description": {
                    "1": "&lt;div class=&quot;row-fluid&quot;&gt;\r\n&lt;div class=&quot;span6&quot; style=&quot;float:left;margin-right:20px;width:370px&quot;&gt;\r\n&lt;p&gt;&lt;img alt=&quot;&quot; src=&quot;http://fashionstyle.kartrocket.co/image_fashionstyle/data/banners/Un66titled.png&quot; style=&quot;width: 370px; height: 215px;&quot; /&gt;&lt;/p&gt;\r\n&lt;/div&gt;\r\n\r\n&lt;div class=&quot;span6&quot; style=&quot;float:left;margin-right:10px;width:370px&quot;&gt;\r\n&lt;p&gt;&lt;img alt=&quot;&quot; src=&quot;http://fashionstyle.kartrocket.co/image_fashionstyle/data/banners/dU2ntitled.png&quot; style=&quot;width: 370px; height: 215px;&quot; /&gt;&lt;/p&gt;\r\n&lt;/div&gt;\r\n\r\n&lt;div class=&quot;span6&quot; style=&quot;float:left;margin-right:10px;width:370px&quot;&gt;\r\n&lt;p&gt;&lt;img alt=&quot;&quot; p=&quot;&quot; src=&quot;http://fashionstyle.kartrocket.co/image_fashionstyle/data/banners/U87ntitled.png&quot; /&gt;&lt;/p&gt;\r\n&lt;/div&gt;\r\n&lt;/div&gt;\r\n"
                  },
                  "layout_id": "1",
                  "position": "content_bottom",
                  "status": "0",
                  "module_class": "",
                  "sort_order": "4"
                },
                "2": {
                  "module_title": {
                    "1": ""
                  },
                  "description": {
                    "1": "&lt;h3&gt;&amp;nbsp;&lt;/h3&gt;\r\n\r\n&lt;div class=&quot;newsletter-submit&quot;&gt;&lt;!--&lt;input alt=&quot;username&quot; class=&quot;inputbox&quot; name=&quot;email&quot; size=&quot;31&quot; type=&quot;text&quot; value=&quot;Type your email&quot; /&gt;&lt;input class=&quot;button&quot; name=&quot;Submit&quot; type=&quot;submit&quot; value=&quot;Go&quot; /&gt;--&gt;&lt;/div&gt;\r\n"
                  },
                  "layout_id": "99999",
                  "position": "footer_top",
                  "status": "0",
                  "module_class": "",
                  "sort_order": 2
                }
              }
            }
          }
        }
      }
    },
    "getcarouselResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "accounts": {
          "type": "string",
          "description": "Returns \"data not found\", if not carousel found in given layout",
          "example": "data not found"
        }
      }
    },
    "getlayoutsResponse": {
      "title": "Json response",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "example": true
        },
        "data": {
          "type": "string",
          "description": "an array containing different layout id's and names",
          "example": [
            {
              "layout_id": "6",
              "name": "Account"
            },
            {
              "layout_id": "47",
              "name": "Account downloads Page"
            },
            {
              "layout_id": "46",
              "name": "Address book Page"
            },
            {
              "layout_id": "10",
              "name": "Affiliate"
            },
            {
              "layout_id": "43",
              "name": "Affiliate account page"
            },
            {
              "layout_id": "41",
              "name": "Affiliate registration page"
            },
            {
              "layout_id": "42",
              "name": "Affiliate registration success page"
            },
            {
              "layout_id": "24",
              "name": "Blog Category"
            },
            {
              "layout_id": "23",
              "name": "Blog Home"
            },
            {
              "layout_id": "25",
              "name": "Blog Page"
            },
            {
              "layout_id": "53",
              "name": "Brand List"
            },
            {
              "layout_id": "52",
              "name": "Brand Page"
            },
            {
              "layout_id": "34",
              "name": "Cart"
            },
            {
              "layout_id": "3",
              "name": "Category"
            },
            {
              "layout_id": "45",
              "name": "Change Password Page"
            },
            {
              "layout_id": "7",
              "name": "Checkout"
            },
            {
              "layout_id": "18",
              "name": "Checkout Sucess"
            },
            {
              "layout_id": "8",
              "name": "Contact"
            },
            {
              "layout_id": "28",
              "name": "Contact Success"
            },
            {
              "layout_id": "17",
              "name": "Deal of the day"
            },
            {
              "layout_id": "4",
              "name": "Default"
            },
            {
              "layout_id": "44",
              "name": "Edit account information page"
            },
            {
              "layout_id": "15",
              "name": "Facebook Store - Category"
            },
            {
              "layout_id": "12",
              "name": "Facebook Store - Home"
            },
            {
              "layout_id": "13",
              "name": "Facebook Store - Product"
            },
            {
              "layout_id": "14",
              "name": "Facebook Store - Search"
            },
            {
              "layout_id": "1",
              "name": "Home"
            },
            {
              "layout_id": "11",
              "name": "Information"
            },
            {
              "layout_id": "19",
              "name": "Login Page"
            },
            {
              "layout_id": "20",
              "name": "Logout Page"
            },
            {
              "layout_id": "5",
              "name": "Manufacturer"
            },
            {
              "layout_id": "51",
              "name": "Newsletter subscription"
            },
            {
              "layout_id": "16",
              "name": "OneCheckOut"
            },
            {
              "layout_id": "36",
              "name": "Order History Page"
            },
            {
              "layout_id": "37",
              "name": "Order Information Page"
            },
            {
              "layout_id": "2",
              "name": "Product"
            },
            {
              "layout_id": "40",
[...]
